name: CI - Linux via APT
on: [push]
jobs:
  test:
    name: "Test on ${{ matrix.name }}"
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            name: "Ubuntu 22.04"

          - os: ubuntu-24.04
            name: "Ubuntu 24.04"
    steps:
      - name: Install and cache apt packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: cmake ninja-build ccache libboost-all-dev libeigen3-dev python3-numpy python3-dev python3-scipy
          version: 1.0
      - uses: actions/checkout@v6
      - run: /usr/bin/cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING_SCIPY=ON
